<nav class="navbar navbar-expand-md bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <img src="../../assets/images/logo1.png" class="logo">
        </div>
        <div class="navbar-nav ml-auto">
            <!-- <ngbd-modal-config></ngbd-modal-config> -->
            <div ngbDropdown class="d-inline-block">

                    <button class="btn profile-btn" ngbDropdownToggle><img class="profile" src="../../assets/images/profile.png"></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                      <button ngbDropdownItem  (click)="logout()">Logout</button>
                      <div class="dropdown-divider"></div>
                      <button ngbDropdownItem routerLink="/register">Register</button>
                    </div>
            </div>
            <!-- <button type="button" class="btn profile-btn" [ngbPopover]="popContent" [popoverTitle]="popTitle">
                <img class="profile" src="../../assets/images/profile.png">
            </button> -->
        </div>
    </div>
</nav>

<!-- <div class="row">
        <div class="col">
          
        </div>
      </div> -->

<ng-template #popContent><div class="text-center"><button class="btn btn-primary btn-sm" (click)="logout()">Logout</button></div></ng-template>
<ng-template #popTitle>Hi, Admin !</ng-template>