nav {
    margin-bottom:20px;
}
.profile{
    width: 45px;
    height: 45px;
    filter: invert(100%);
}
.logo{
    width: 140px;
    height: 60px;
    filter: brightness(200%);
}
.profile-btn{
    margin-right: 20px;
    box-shadow: none;
    background: transparent;
    color: transparent;
}