<app-header (add)="addUserModal()"></app-header>
<div class="container">
  <ng-template #template><app-add-user [addUserData]="addUserData" (addClk)="addUser($event)"></app-add-user></ng-template>
    <div class="float-right">
        <ngbd-modal-config [showHeader]=true  [data]="template" [modalBtnName]="modalBtnName"></ngbd-modal-config>
    </div>
    <!-- <button (click)="myDiv1.openModal()">TEST</button> -->
  <!-- <app-add-user (addClk)="addUser($event)"></app-add-user> -->
  <app-grid [data]="selectedUsersGrid"  (deleteEvnt)="delete($event)"></app-grid>
  <app-grid [data]="unSelectedUsersGrid" (selectEvnt)="select($event)"></app-grid>
</div>

