<section>
    <div class="login-container">
        <h2 class="login-header">Candidate Login</h2>
        <app-add-user [addUserData]="addUserData" (addClk)="addCandidate($event)"></app-add-user> 
    </div>
</section>