
div {
    width: 40%;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    color: #575C60;
    border-radius: 8px;
    max-width: 550px;
}
h2 {
    font-weight: 100;
    text-align: center;
    padding-bottom: 15px;
}