<h4 class="text-capitalize">{{data.title}}</h4>
<table class="table text-center table-hover text-capitalize" mdbTable hover="true" >
  <thead class="thead-dark">
    <tr>
      <th *ngFor="let head of data.header" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody class="bg-light">
    <tr mdbTableCol *ngFor="let user of data.data;let i = index" >
      <td>{{i+1}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.mobile}}</td>
      <td>{{user.city}}</td>
      <td>{{user.gender}}</td>
      <td><button  [class]="data.btn.class" (click)="this[data.btn.fn](user.id)">{{data.btn.name}}</button></td>
    </tr>
    <tr [hidden]="!(data.data.length==0)">
      <td colspan="9" class="text-center text-danger noData">No Data Found</td>
    </tr>
  </tbody>
</table>