<!-- <div class="add-user-component">
        <form [formGroup]="addUserForm">
            <i class="fa fa-times close-btn" aria-hidden="true" (click)="refreshEvntEmitter()"></i>
            <input type="text" formControlName="name" placeholder="Name">
            <p class="error" *ngIf="addUserForm.controls.name.errors && submitted">*Name is required</p>
            <input type="text" formControlName="designation" placeholder="Designation">
            <p class="error" *ngIf="addUserForm.controls.designation.errors && submitted">*Designation is required</p>
            <input type="text" formControlName="mailId" placeholder="Mail Id">
            <p class="error" *ngIf="addUserForm.controls.mailId.errors && submitted">*Mail Id is required</p>
            <input type="submit" value="Add" (click)="addUser()" >
            <input type="submit" value="Update" (click)="editUser(profileData.id)" >
        </form>
    </div> -->
<!--  {
        "isSelected": "true",
        "firstName": "arun",
        "lastName": "Kumar",
        "email": "arun@gmail.com",
        "mobile": "9566899889",
        "userName": "mad0017",
        "city": "Chennai",
        "gender": "male",
        "id": 4
    } -->

<form [formGroup]="addUserForm">
    <div class="form-group row">
        <label  class="col-sm-3 col-form-label">First Name <span class="text-danger" *ngIf="addUserForm.controls.firstName.errors && submitted">*</span></label>
        <div class="col-sm-9">
            <input formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
    </div>
    <div class="form-group row">
        <label  class="col-sm-3 col-form-label">Last Name <span class="text-danger" *ngIf="addUserForm.controls.lastName.errors && submitted">*</span></label>
        <div class="col-sm-9">
            <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
    </div>
    <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-3 pt-0">Gender <span class="text-danger" *ngIf="addUserForm.controls.gender.errors && submitted">*</span></legend>
                <div class="col-sm-9">
                    <div class="form-check col-sm-4">
                        <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="male" value="male"
                            checked >
                        <label class="form-check-label" >
                           Male
                        </label>
                    </div>
                    <div class="form-check col-sm-4">
                        <input formControlName="gender" class="form-check-input" type="radio" name="gender" id="female" value="female">
                        <label class="form-check-label" >
                            Female
                        </label>
                    </div>
                </div>
            </div>
    </fieldset>
    <div class="form-group row">
        <label  class="col-sm-3 col-form-label">Email <span class="text-danger" *ngIf="addUserForm.controls.email.errors && submitted">*</span></label>
        <div class="col-sm-9">
            <input formControlName="email" type="email" class="form-control" id="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group row">
            <label  class="col-sm-3 col-form-label">Mobile <span class="text-danger" *ngIf="addUserForm.controls.mobile.errors && submitted">*</span></label>
            <div class="col-sm-9">
                <input formControlName="mobile" type="text" class="form-control" id="mobile" placeholder="Mobile">
            </div>
        </div>
    <div class="form-group row">
        <label  class="col-sm-3 col-form-label">User Name <span class="text-danger" *ngIf="addUserForm.controls.userName.errors && submitted">*</span></label>
        <div class="col-sm-9">
            <input formControlName="userName" type="text" class="form-control" id="userName" placeholder="User Name">
        </div>
    </div>
    <div class="form-group row">
            <label  class="col-sm-3 col-form-label">City <span class="text-danger" *ngIf="addUserForm.controls.city.errors && submitted">*</span></label>
            <div class="col-sm-9">
                <!-- <input type="text" class="form-control" id="city" placeholder="City"> -->
                <select formControlName="city" id="city" class="btn btn-default">
                    <option value="null" selected>Select City</option>
                    <option value="Chennai">Chennai</option>
                    <option value="Trichy">Trichy</option>
                    <option value="Erode">Erode</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Salem">Salem</option>
                </select>
            </div>
    </div>
    <fieldset class="form-group" [hidden]="!addUserData.selectBtn">
            <div class="row">
                <legend class="col-form-label col-sm-3 pt-0">Status <span class="text-danger" *ngIf="addUserForm.controls.isSelected.errors && submitted">*</span></legend>
                <div class="col-sm-9">
                    <div class="form-check col-sm-4">
                        <input formControlName="isSelected" class="form-check-input" type="radio" name="isSelected"  value="true"
                            >
                        <label class="form-check-label" >
                           Selected
                        </label>
                    </div>
                    <div class="form-check col-sm-6">
                        <input formControlName="isSelected" class="form-check-input" type="radio" name="isSelected" value="false" checked>
                        <label class="form-check-label" >
                            Not Selected
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
    <div class="form-group row">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-outline-success" (click)="addUser()">{{addUserData.btnName}}</button>
        </div>
        <!-- <p>{{addUserForm.value | json   }}</p> -->
    </div>
</form>