.candidate-paper-component {
    list-style: none;

    .jumbotron {
        padding: 20px;
        margin: 10px;
    }

    p {
        font-size: 18px;
    }

    input {
        margin-right: 10px;
        width: 18px;
        height: 18px;
        position: relative;
        top: 4px;
    }

    li {
        padding: 30px;
        margin: 20px 0;
    }

    h2 {
        font-weight: 100;
        padding: 15px;
        color: #575C60;
    }

    .btn-outline-dark {
        margin: 0 5px;
    }

}

.congrats-msg {
    padding: 20px;

    .tick {
        width: 120px;
        height: 120px;
        object-fit: none;
        border-radius: 50%;
    }

    h4 {
        margin: 30px 0 10px;
    }

    p {
        margin: 10px 0 40px;
    }

    button {
        padding: 8px 30px;
    }
}