
<form  [formGroup]="questionForm">
    <ul class="candidate-paper-component container">
        <h2 class="text-center">Technical Test</h2>
        <div class="text-right">
            <button class="btn btn-outline-dark" (click)="prev()" [hidden]="(currentPage == 0)">Prev</button>
            <button class="btn btn-outline-dark" (click)="next()" [hidden]="(currentPage == questions.length-1)">Next</button>
        </div>
        <li class="col-md-12 bg-light animated zoomIn" *ngFor="let data of questions;let i = index" [hidden]="!(i==currentPage)">
            <h4 class="jumbotron ">Q{{i+1}}: {{data.question}}</h4>
            <p class="jumbotron"><input type="radio" name="{{i}}" value="a" formControlName="{{i}}">{{data.options[0]}}</p>
            <p class="jumbotron"><input type="radio" name="{{i}}" value="b" formControlName="{{i}}">{{data.options[1]}}</p>
            <p class="jumbotron"><input type="radio" name="{{i}}" value="c" formControlName="{{i}}">{{data.options[2]}}</p>
            <p class="jumbotron"><input type="radio" name="{{i}}" value="d" formControlName="{{i}}">{{data.options[3]}}</p>
        </li>
        <button class="btn btn-outline-success float-right" (click)="submit(questionForm.value)" [hidden]="!(currentPage == questions.length-1)">Submit</button>
        <!-- <p>{{ questionForm.value | json }}</p> -->
    </ul>
</form>

<ngbd-modal-config [showHeader]=false [data]="template" [modalBtnName]="modalBtnName" [hidden]="true"></ngbd-modal-config>
<ng-template #template>
        <div class="text-center congrats-msg">
            <img src="../../assets/images/tick.gif" alt="" class="tick">
            <h4 class="text-center text-success">Congrats !</h4>
            <p class="text-center text-secondary">You have completed the test.</p>
            <button class="btn btn-success" (click)="logOut()">Ok</button>
        </div>
</ng-template> 