
.login-component {

    form {
        width: 35%;
        background: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        text-align: center;
        color: #575C60;
        border-radius: 8px;
        max-width: 500px;
    }

    h2 {
        font-weight: 100;
        padding: 30px 0;
    }

    input[type="submit"] {
        color: #ffffff;
        background: #4E72DD;
        text-transform: uppercase;
    }

    input {
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background: #dddddd;
        font-size: 16px;
    }

    .login-btn{
        margin: 10px 0;
        width: 100%;
        color: #ffffff;
        background: #4E72DD;
        text-transform: uppercase;
    }
    .reg-button {
        color: #4E72DD;
        background: none;
        font-size: 16px;
        border: none;
    }

    // .reg-btn {
    //     padding-top: 30px;
    // }

    img {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        position: absolute;
        top: -50px;
        left: calc(50% - 50px);
    }

    .error {
        text-align: left;
        color: #ff0000;
        font-size: 12px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
.login-component {
    form {
        width: 50%;
    }
  }
}

@media only screen and (max-device-width: 767px) {
.login-component {
    form {
        width: 90%;
    }
  }
}


  