<div class="login-component ">
    <form [formGroup]="loginForm" class="login-container ">
      <h2 class="login-header animated rubberBand">Admin Login</h2>
      <div>
        <input type="text" placeholder="Email" formControlName="email">
        <p class="error" *ngIf="g.email.errors && submitted">*email is required</p>
      </div>
      <div>
        <input type="password" placeholder="Password" formControlName="password">
        <p class="error" *ngIf="g.password.errors && submitted">*password is required</p>
      </div>
      <p>
        <button (click)="login()" class="btn login-btn ">Login</button>
      </p>
      <p class="reg-btn">
          Not registered? <button class="reg-button" (click)="register()">create an account</button>
      </p>
    </form>
  </div>