<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header" [hidden]="!showHeader">
      <h5 class="text-center">{{modalBtnName}}</h5>
      <button id="clsBtn" type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-container [ngTemplateOutlet]="data"></ng-container>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="c('cancel click')">Cancel</button>
      <button type="button" class="btn btn-outline-success" (click)="c('Save click')">Add</button>
    </div> -->
  </ng-template>
 
  <button id="modalOpen"  class="btn btn-sm btn-outline-primary" (click)="open(content)">{{modalBtnName}}</button>
  