<div>
    <form [formGroup]="registerForm" class="login-container">
      <h2 class="login-header">Register</h2>
      <div>
        <input type="text" placeholder="Email" formControlName="email">
        <p class="error" *ngIf="g.email.errors && submitted">*email is required</p>
      </div>
      <div>
        <input type="password" placeholder="Password" formControlName="password">
        <p class="error" *ngIf="g.password.errors && submitted">*password is required</p>
      </div>
      <p>
        <button (click)="register()" class="btn login-btn">Register</button>
      </p>
      <p class="reg-btn">
          Already have an account? <button class="reg-button" routerLink="/login">Login</button>
      </p>
    </form>
  </div>